<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree(s) sort(ed)</title>
  <style>
    @font-face {
      font-family: "Fira mono";
      src: url("{{ BASEURL }}/static/fonts/fira-mono/FiraMono-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Fira mono";
      src: url("{{ BASEURL }}/static/fonts/fira-mono/FiraMono-Medium.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: "Fira mono";
      src: url("{{ BASEURL }}/static/fonts/fira-mono/FiraMono-Bold.ttf") format("truetype");
      font-weight: 600;
      font-style: bold;
    }

    :root {
      --line-height: 18pt;
      --font-size: 13pt;
    }

    html, body {
      font-family: "Fira mono";
      font-size: var(--font-size);
      line-height: var(--line-height);
    }

    body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr min-content;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }

    main {
      max-width: 75ch;
      grid-column: 2;
      margin: 1rem;
    }

    aside {
      grid-column: 1;
      grid-row: 1;
      margin: 1rem;
    }

    aside svg {
      max-width: 100%;
    }

    footer {
      grid-row: 2;
      grid-column: 1 / span 2;
      font-size: 80%;
      border-top: 1px solid black;
      padding: .25rem .5rem;
    }

    audio {
      width: 80%;
    }

    h1 {
      margin-top: 2rem;
    }

    @media screen and (max-width: 600px) {
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      aside {
        order: -1;
        flex: 0 0;
      }

      main {
        flex: 1 0;
      }

      footer {
        flex: 0 0;
        margin-top: 2rem;
      }

      h1 {
        word-break: break-all;
        line-height: 1;
      }
    }

  </style>
</head>
<body>
  <main>
    <h2>Tree(s) sort(ed)</h2>
    <h1>{{ file }}</h1>
    <audio controls preload src="{{ BASEURL }}/static/{{ audio }}"></audio>
    <p>{{ description }}</p>
    <a href="{{ BASEURL }}/">↻ Load another fragment.</a>
  </main>
  <aside>
    <svg alt="Visualization of a tree sort algorithm is outlined. The placement of the image described in the audio is highlighted in the graph." viewBox="0.00 0.00 5247.54 3266.80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 3262.8)">
        <polygon fill="#ffffff" stroke="transparent" vector stroke-dasharray="4 2"-effect="non-scaling-stroke" points="-4,4 -4,-3262.8 5243.545,-3262.8 5243.545,4 -4,4" />
        <g id="node1" class="node">
          <polygon fill="none" id="image__IMG_9379" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2200.5975,-324.8 1840.5975,-324.8 1840.5975,-54.8 2200.5975,-54.8 2200.5975,-324.8" />
        </g>
        <g id="node2" class="node">
          <polygon fill="none" id="image__IMG_9380" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1498.5975,-702.8 1138.5975,-702.8 1138.5975,-432.8 1498.5975,-432.8 1498.5975,-702.8" />
        </g>
        <g id="edge1" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1840.5975,-324.8C1840.5975,-324.8 1318.5975,-432.8 1318.5975,-432.8" />
        </g>
        <g id="node58" class="node">
          <polygon fill="none" id="image__20211027_125747" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2871.0975,-738.8 2614.0975,-738.8 2614.0975,-396.8 2871.0975,-396.8 2871.0975,-738.8" />
        </g>
        <g id="edge57" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2200.5975,-324.8C2200.5975,-324.8 2742.5975,-396.8 2742.5975,-396.8" />
        </g>
        <g id="node3" class="node">
          <polygon fill="none" id="image__IMG_9424" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="691.5975,-1080.8 331.5975,-1080.8 331.5975,-810.8 691.5975,-810.8 691.5975,-1080.8" />
        </g>
        <g id="edge2" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1138.5975,-702.8C1138.5975,-702.8 511.5975,-810.8 511.5975,-810.8" />
        </g>
        <g id="node32" class="node">
          <polygon fill="none" id="image__20211025_113835" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1698.5975,-1080.8 1338.5975,-1080.8 1338.5975,-810.8 1698.5975,-810.8 1698.5975,-1080.8" />
        </g>
        <g id="edge31" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1498.5975,-702.8C1498.5975,-702.8 1518.5975,-810.8 1518.5975,-810.8" />
        </g>
        <g id="node4" class="node">
          <polygon fill="none" id="image__IMG_9405" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="388.5975,-1458.8 28.5975,-1458.8 28.5975,-1188.8 388.5975,-1188.8 388.5975,-1458.8" />
        </g>
        <g id="edge3" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M331.5975,-1080.8C331.5975,-1080.8 208.5975,-1188.8 208.5975,-1188.8" />
        </g>
        <g id="node9" class="node">
          <polygon fill="none" id="image__20211025_172905" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="891.5975,-1458.8 531.5975,-1458.8 531.5975,-1188.8 891.5975,-1188.8 891.5975,-1458.8" />
        </g>
        <g id="edge8" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M691.5975,-1080.8C691.5975,-1080.8 711.5975,-1188.8 711.5975,-1188.8" />
        </g>
        <g id="node10" class="node">
          <polygon fill="none" id="image__IMG_9415" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="630.0975,-1908.8 373.0975,-1908.8 373.0975,-1566.8 630.0975,-1566.8 630.0975,-1908.8" />
        </g>
        <g id="edge9" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M531.5975,-1458.8C531.5975,-1458.8 501.5975,-1566.8 501.5975,-1566.8" />
        </g>
        <g id="node18" class="node">
          <polygon fill="none" id="image__IMG_9432" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1079.0975,-1908.8 822.0975,-1908.8 822.0975,-1566.8 1079.0975,-1566.8 1079.0975,-1908.8" />
        </g>
        <g id="edge17" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M891.5975,-1458.8C891.5975,-1458.8 950.5975,-1566.8 950.5975,-1566.8" />
        </g>
        <g id="node13" class="node">
          <polygon fill="none" id="image__20211025_152322" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="810.5975,-2286.8 450.5975,-2286.8 450.5975,-2016.8 810.5975,-2016.8 810.5975,-2286.8" />
        </g>
        <g id="edge12" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M630.5975,-1908.8C630.5975,-1908.8 630.5975,-2016.8 630.5975,-2016.8" />
        </g>
        <g id="node21" class="node">
          <polygon fill="none" id="image__IMG_9436" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1318.5975,-2286.8 958.5975,-2286.8 958.5975,-2016.8 1318.5975,-2016.8 1318.5975,-2286.8" />
        </g>
        <g id="edge20" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1079.5975,-1908.8C1079.5975,-1908.8 1138.5975,-2016.8 1138.5975,-2016.8" />
        </g>
        <g id="node24" class="node">
          <polygon fill="none" id="image__IMG_9397" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1498.5975,-2700.8 1138.5975,-2700.8 1138.5975,-2430.8 1498.5975,-2430.8 1498.5975,-2700.8" />
        </g>
        <g id="edge23" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1318.5975,-2286.8C1318.5975,-2286.8 1318.5975,-2430.8 1318.5975,-2430.8" />
        </g>
        <g id="node27" class="node">
          <polygon fill="none" id="image__IMG_9417" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1627.0975,-3150.8 1370.0975,-3150.8 1370.0975,-2808.8 1627.0975,-2808.8 1627.0975,-3150.8" />
        </g>
        <g id="edge26" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1498.5975,-2700.8C1498.5975,-2700.8 1498.5975,-2808.8 1498.5975,-2808.8" />
        </g>
        <g id="node35" class="node">
          <polygon fill="none" id="image__IMG_9435" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1898.5975,-1458.8 1538.5975,-1458.8 1538.5975,-1188.8 1898.5975,-1188.8 1898.5975,-1458.8" />
        </g>
        <g id="edge34" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1698.5975,-1080.8C1698.5975,-1080.8 1718.5975,-1188.8 1718.5975,-1188.8" />
        </g>
        <g id="node38" class="node">
          <polygon fill="none" id="image__Anais_berck" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2081.5975,-1872.8 1743.5975,-1872.8 1743.5975,-1602.8 2081.5975,-1602.8 2081.5975,-1872.8" />
        </g>
        <g id="edge37" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1898.5975,-1458.8C1898.5975,-1458.8 1912.5975,-1602.8 1912.5975,-1602.8" />
        </g>
        <g id="node39" class="node">
          <polygon fill="none" id="image__IMG_9412" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1864.5975,-2286.8 1504.5975,-2286.8 1504.5975,-2016.8 1864.5975,-2016.8 1864.5975,-2286.8" />
        </g>
        <g id="edge38" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1743.5975,-1872.8C1743.5975,-1872.8 1684.5975,-2016.8 1684.5975,-2016.8" />
        </g>
        <g id="node50" class="node">
          <polygon fill="none" id="image__20211027_125504" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2357.5975,-2286.8 1997.5975,-2286.8 1997.5975,-2016.8 2357.5975,-2016.8 2357.5975,-2286.8" />
        </g>
        <g id="edge49" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2081.5975,-1872.8C2081.5975,-1872.8 2177.5975,-2016.8 2177.5975,-2016.8" />
        </g>
        <g id="node42" class="node">
          <polygon fill="none" id="image__20211019_151924" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="1978.0975,-2736.8 1721.0975,-2736.8 1721.0975,-2394.8 1978.0975,-2394.8 1978.0975,-2736.8" />
        </g>
        <g id="edge41" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1864.5975,-2286.8C1864.5975,-2286.8 1849.5975,-2394.8 1849.5975,-2394.8" />
        </g>
        <g id="node45" class="node">
          <polygon fill="none" id="image__20211027_125357" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2181.5975,-3114.8 1821.5975,-3114.8 1821.5975,-2844.8 2181.5975,-2844.8 2181.5975,-3114.8" />
        </g>
        <g id="edge44" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M1978.5975,-2736.8C1978.5975,-2736.8 2001.5975,-2844.8 2001.5975,-2844.8" />
        </g>
        <g id="node53" class="node">
          <polygon fill="none" id="image__IMG_9422" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2579.5975,-2700.8 2219.5975,-2700.8 2219.5975,-2430.8 2579.5975,-2430.8 2579.5975,-2700.8" />
        </g>
        <g id="edge52" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2357.5975,-2286.8C2357.5975,-2286.8 2399.5975,-2430.8 2399.5975,-2430.8" />
        </g>
        <g id="node59" class="node">
          <polygon fill="none" id="image__20211027_111356" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2748.5975,-1080.8 2388.5975,-1080.8 2388.5975,-810.8 2748.5975,-810.8 2748.5975,-1080.8" />
        </g>
        <g id="edge58" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2613.5975,-738.8C2613.5975,-738.8 2568.5975,-810.8 2568.5975,-810.8" />
        </g>
        <g id="node79" class="node">
          <polygon fill="none" id="image__20211019_162946" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="3823.5975,-1080.8 3463.5975,-1080.8 3463.5975,-810.8 3823.5975,-810.8 3823.5975,-1080.8" />
        </g>
        <g id="edge78" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2871.5975,-738.8C2871.5975,-738.8 3643.5975,-810.8 3643.5975,-810.8" />
        </g>
        <g id="node60" class="node">
          <polygon fill="none" id="image__20211025_113843" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2494.5975,-1458.8 2134.5975,-1458.8 2134.5975,-1188.8 2494.5975,-1188.8 2494.5975,-1458.8" />
        </g>
        <g id="edge59" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2388.5975,-1080.8C2388.5975,-1080.8 2314.5975,-1188.8 2314.5975,-1188.8" />
        </g>
        <g id="node68" class="node">
          <polygon fill="none" id="image__20211027_140938" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2986.5975,-1458.8 2626.5975,-1458.8 2626.5975,-1188.8 2986.5975,-1188.8 2986.5975,-1458.8" />
        </g>
        <g id="edge67" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2748.5975,-1080.8C2748.5975,-1080.8 2806.5975,-1188.8 2806.5975,-1188.8" />
        </g>
        <g id="node63" class="node">
          <polygon fill="none" id="image__20211025_151107" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="2674.5975,-1872.8 2314.5975,-1872.8 2314.5975,-1602.8 2674.5975,-1602.8 2674.5975,-1872.8" />
        </g>
        <g id="edge62" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2494.5975,-1458.8C2494.5975,-1458.8 2494.5975,-1602.8 2494.5975,-1602.8" />
        </g>
        <g id="node71" class="node">
          <polygon fill="none" id="image__20211027_152654" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="3183.5975,-1872.8 2823.5975,-1872.8 2823.5975,-1602.8 3183.5975,-1602.8 3183.5975,-1872.8" />
        </g>
        <g id="edge70" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M2986.5975,-1458.8C2986.5975,-1458.8 3003.5975,-1602.8 3003.5975,-1602.8" />
        </g>
        <g id="node74" class="node">
          <polygon fill="none" id="image__Saint_Luc" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="3424.5975,-2286.8 2942.5975,-2286.8 2942.5975,-2016.8 3424.5975,-2016.8 3424.5975,-2286.8" />
        </g>
        <g id="edge73" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M3183.5975,-1872.8C3183.5975,-1872.8 3183.5975,-2016.8 3183.5975,-2016.8" />
        </g>
        <g id="node80" class="node">
          <polygon fill="none" id="image__IMG_9372" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="3623.5975,-1458.8 3263.5975,-1458.8 3263.5975,-1188.8 3623.5975,-1188.8 3623.5975,-1458.8" />
        </g>
        <g id="edge79" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M3463.5975,-1080.8C3463.5975,-1080.8 3443.5975,-1188.8 3443.5975,-1188.8" />
        </g>
        <g id="node91" class="node">
          <polygon fill="none" id="image__20211027_130052" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="4301.0975,-1494.8 4044.0975,-1494.8 4044.0975,-1152.8 4301.0975,-1152.8 4301.0975,-1494.8" />
        </g>
        <g id="edge90" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M3823.5975,-1080.8C3823.5975,-1080.8 4172.5975,-1152.8 4172.5975,-1152.8" />
        </g>
        <g id="node83" class="node">
          <polygon fill="none" id="image__20211026_145339" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="3824.5975,-1872.8 3464.5975,-1872.8 3464.5975,-1602.8 3824.5975,-1602.8 3824.5975,-1872.8" />
        </g>
        <g id="edge82" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M3623.5975,-1458.8C3623.5975,-1458.8 3644.5975,-1602.8 3644.5975,-1602.8" />
        </g>
        <g id="node86" class="node">
          <polygon fill="none" id="image__forest_walk_6" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="4077.0975,-2286.8 3574.0975,-2286.8 3574.0975,-2016.8 4077.0975,-2016.8 4077.0975,-2286.8" />
        </g>
        <g id="edge85" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M3824.5975,-1872.8C3824.5975,-1872.8 3825.5975,-2016.8 3825.5975,-2016.8" />
        </g>
        <g id="node94" class="node">
          <polygon fill="none" id="image__IMG_9369" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="4601.0975,-1908.8 4344.0975,-1908.8 4344.0975,-1566.8 4601.0975,-1566.8 4601.0975,-1908.8" />
        </g>
        <g id="edge93" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M4301.5975,-1494.8C4301.5975,-1494.8 4472.5975,-1566.8 4472.5975,-1566.8" />
        </g>
        <g id="node95" class="node">
          <polygon fill="none" id="image__20211026_145331" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="4477.5975,-2286.8 4117.5975,-2286.8 4117.5975,-2016.8 4477.5975,-2016.8 4477.5975,-2286.8" />
        </g>
        <g id="edge94" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M4343.5975,-1908.8C4343.5975,-1908.8 4297.5975,-2016.8 4297.5975,-2016.8" />
        </g>
        <g id="node103" class="node">
          <polygon fill="none" id="image__20211027_130250" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="5185.0975,-2322.8 4928.0975,-2322.8 4928.0975,-1980.8 5185.0975,-1980.8 5185.0975,-2322.8" />
        </g>
        <g id="edge102" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M4601.5975,-1908.8C4601.5975,-1908.8 5056.5975,-1980.8 5056.5975,-1980.8" />
        </g>
        <g id="node98" class="node">
          <polygon fill="none" id="image__20211022_101225" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="4657.5975,-2700.8 4297.5975,-2700.8 4297.5975,-2430.8 4657.5975,-2430.8 4657.5975,-2700.8" />
        </g>
        <g id="edge97" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M4477.5975,-2286.8C4477.5975,-2286.8 4477.5975,-2430.8 4477.5975,-2430.8" />
        </g>
        <g id="node104" class="node">
          <polygon fill="none" id="image__forest_walk_11" stroke="#555555" stroke-dasharray="4 2" stroke-width="1px" vector-effect="non-scaling-stroke" points="5104.0975,-2700.8 4699.0975,-2700.8 4699.0975,-2430.8 5104.0975,-2430.8 5104.0975,-2700.8" />
        </g>
        <g id="edge103" class="edge">
          <path fill="none" stroke="#555555" stroke-dasharray="4 2" vector-effect="non-scaling-stroke" d="M4927.5975,-2322.8C4927.5975,-2322.8 4901.5975,-2430.8 4901.5975,-2430.8" />
        </g>
      </g>
    </svg>
  </aside>
  <footer>
    ‘Tree(s) sort(ed)’ is a publication by <a href="https://algoliterarypublishing.net/">An&nbsp;Algoliterary Publishing&nbsp;House</a>
  </footer>
  <script>
    const rect = document.getElementById('{{ image_id }}');
    rect.setAttribute('fill', '{{ color_string }}');
    rect.setAttribute('stroke', 'black');
    rect.setAttribute('stroke-width', '2px');
    rect.removeAttribute('stroke-dasharray');
  </script>
</body>
</html>